.quiz-detail {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    height: 60px;
}
.quiz-container {
    width: 350px;
    height: 650px;
    background-color: lightgrey;
    margin: 50px;
    overflow-y: scroll;
    overflow-x: scroll;
}
.quiz-detail-text {
    padding: 5px;
}
.quiz-top-text {
    font-size: x-large;
}
.arithmetic-container {
    margin-top: 20px;
    height: 100px;
    padding: 5px;
    display: grid;
    grid-template-columns: 0.7fr 0.3fr;
    grid-gap: 10px;
}
.next {
    background-color: skyblue;
    border: 0px;
    border-radius: 2px;
    padding: 5px 10px;
}
.button-container {
    text-align: left;
}
.input {
    margin-left: 10px;
}
.table-header-row {
    border: 1px solid;
    border-color: white;
}
.table {
    width: 90%;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    border: 2px solid;
    border-color: rgb(202, 201, 201);
}
.quiz-generator-form {
    width: 50%;
    height: 320px;
}
.qgf-top {
    height: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    text-align: center;
}
.qgf-mid {
    height: 40px;
    padding-top: 10px;
    padding-left: 40px;
    text-align: center;
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    grid-gap: 10px;
}
.quiz-generator {
    width: 100%;
    height: auto;
    padding: 20px;
    overflow-y: scroll;
    overflow-x: scroll;
}
.submit {
    border: 0px;
    background-color: skyblue;
    border-radius: 2px;
    padding: 10px 20px;
    margin-top: 10px;
}
.qz-input {
    padding-top: 15px;
    padding-bottom: 10px;
    height: 40%;
    text-align: center;
}
.qgfo-div {
    text-align: center;
    text-align: left;
    display: grid;
    grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
    
}
.quiz-div {
    width: 100%;
    height: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}