.QuizDetail{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    height: 60px;
}
.QuizContainer{
    width: 350px;
    height: 650px;
    background-color: lightgrey;
    margin: 50px;
    overflow-y: scroll;
    overflow-x: scroll;
}
.QuizDetailText{
    padding: 5px;
}
.QuizTopText{
    font-size: x-large;
}
.ArithmeticContainer{
    margin-top: 20px;
    height: 100px;
    padding: 5px;
    display: grid;
    grid-template-columns: 0.7fr 0.3fr;
    grid-gap: 10px;
}
.Next{
    background-color: skyblue;
    border: 0px;
    border-radius: 2px;
    padding: 5px 10px;
}
.ButtonContainer{
    text-align: left;
}
.Input{
    margin-left: 10px;
}
.TableHeaderRow{
    border: 1px solid;
    border-color: white;
}
.Table{
    width: 90%;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    border: 2px solid;
    border-color: rgb(202, 201, 201);
}
.QuizGeneratorForm{
    width: 50%;
    height: 320px;
}
.QGFTop{
    height: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    text-align: center;
}
.QGFMid{
    height: 40px;
    padding-top: 10px;
    padding-left: 40px;
    text-align: center;
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    grid-gap: 10px;
}
.QuizGenerator{
    width: 100%;
    height: auto;
    padding: 20px;
    overflow-y: scroll;
    overflow-x: scroll;
}
.Submit{
    border: 0px;
    background-color: skyblue;
    border-radius: 2px;
    padding: 10px 20px;
    margin-top: 10px;
}
.QZInput{
    padding-top: 15px;
    padding-bottom: 10px;
    height: 40%;
    text-align: center;
}
.QGFODiv{
    text-align: center;
    text-align: left;
    display: grid;
    grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
    
}
.QuizDiv{
    width: 100%;
    height: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}